:root {
  /* delay before expanding tabs, set to '0' for no delay */
  --delay: 0.1s;
  --transition-time: 0.12s;
  --positionX1: 48px; /* '48px' for left, '0px' for right sidebar */
  --positionX2: absolute; /* 'absolute' for left, 'none' for right sidebar */
}

/*  Disable default tab bar */
#TabsToolbar {
  display: none;
}
/* hide header */
#sidebar-box[sidebarcommand*="tabcenter"] #sidebar-header {
  visibility: collapse;
  display: none;
}

/* set width */
[sidebarcommand*="tabcenter"] #sidebar,
#sidebar-box[sidebarcommand*="tabcenter"] {
  min-width: 48px !important;
  max-width: 48px !important;
  width: 48px;
}
#sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) {
  display: block;
  position: var(--positionX2);
  box-sizing: content-box;
  min-width: 48px;
  max-width: 48px;
  overflow: hidden;
  z-index: 1;
  top: 0;
  bottom: 0;
}


/* on hover */
#sidebar-box[sidebarcommand*="tabcenter"]:hover #sidebar,
#sidebar-box[sidebarcommand*="tabcenter"]:hover {
  min-width: 10vw !important;
  width: 30vw !important;
  max-width: 200px !important;
  z-index: 1 !important;
  transition: all var(--transition-time) ease var(--delay);
}

/* used for delay function */
#sidebar-box[sidebarcommand*="tabcenter"]:not(:hover) #sidebar,
#sidebar-box[sidebarcommand*="tabcenter"]:not(:hover) {
  transition: all var(--transition-time) ease 0s;
}

@media (width >= 1200px) {
  #sidebar-box[sidebarcommand*="tabcenter"]:hover #sidebar,
  #sidebar-box[sidebarcommand*="tabcenter"]:hover {
    max-width: 250px !important;
  }
}

[sidebarcommand*="tabcenter"] #sidebar {
  max-height: 100%;
  height: 100%;
}

/* resizes the viewport to account for the sidebar */
#main-window:not([inFullscreen])
  #sidebar-box[sidebarcommand*="tabcenter"]:not([hidden])
  ~ #appcontent {
  margin-left: var(--positionX1);
}

#main-window[inFullscreen]
  #sidebar-box[sidebarcommand*="tabcenter"]{
  display: none !important;
}

/* better padding */
#urlbar-container {
	--urlbar-container-height: 50.00px !important;
}